<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="robots" content="Index,Follow">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="{{ 'assets/css/main.css' | relative_url }}">
    <!-- link to fontawesome 5 -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140592418-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-140592418-1');
    </script>
  </head>
  <body>
    <!-- link to JS scripts-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.0/showdown.min.js"></script>

    <!--
    <nav>
      <ul>
        <li><a href="{{ '/' | relative_url }}">Home</a></li>
        <li><a href="https://github.com/organizejs/collective-actions-in-tech">Github</a></li>
      </ul>
    </nav>
    -->
    <div class="">
    
    {{ content }}
    
    </div><!-- /.container -->
    <footer>
      <!--
      <ul>
        <li>
          <a href="https://github.com/organizejs/collective-actions-in-tech">
            github.com/organizejs/collective-actions-in-tech
          </a>
        </li>
      </ul>
      -->
    </footer>

    <!-- github button js -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>

