<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    {% seo %}
  </head>
  <body>
    <!-- link to JS scripts-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.0/showdown.min.js"></script>

    <div class="">
    
    {{ content }}
    
    <!-- github button js -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>

